<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro do Produto</title>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <div class="container">
        <h1>Cadastrar Produto</h1>
        <form action="">
            <label for="">Nome</label>
            <input type="text"><br>
            
            <label for="">Preço</label>
            <input type="text"><br>
            <button>Cadastrar</button>

        </form>
       <br>

    </div>

</body>


</html>